body {
    background-color: #aec6cf;
}

.floatLeft {
    float: left;
    border-style: solid;
    margin-right: 10px;
}

.floatRight {
    float: right;
    border-style: solid;
    margin-left: 10px;
}